
html, body {
   margin: 0;
   padding: 0;
}

div.page-head {
   width: 98vw;
   height: 8vh;
   line-height: 8vh;
   margin: 2vh auto;
   /* font-size: 3.2vh; */
   border: 2px solid #dcdcdc;
   border-radius: 4vh;
}

div.page-head div {
   display: inline-block;
}

div.page-head-lbl {
   font-size: 3.2vh;
   text-indent: 4vh;
}
