
html, body {
   margin: 0;
   padding: 0;
}

div.page-head {
   width: 98vw;
   height: 8vh;
   line-height: 8vh;
   margin: 2vh auto;
   text-align: right;
   border: 2px solid #dcdcdc;
   border-radius: 4vh;
}

div.page-head div {
   display: inline-block;
}

div.page-head-lbl {
   font-size: 3.2vh;
   text-indent: 4vh;
   float: left;
}

div.page-head-home {
   display: inline-block;
   width: 6.8vh; 
   height: 6.8vh;
   margin: calc(1.2vh - 1px);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   background-image: url(/imgs/logo_64px.png);
   border: 1px solid darkblue;
   border-radius: 4.4vh;
}
